@model miniETicaret.Models.ViewModel.Account.ForgotPasswordViewModel

<div class="container mt-4">
	<h2 class="text-center">Şifremi Unuttum</h2>
	<form asp-action="ForgotPassword" method="post" class="form-group">
		<div class="mb-3">
			<label for="email" class="form-label">E-Posta Adresiniz</label>
			<input type="email" name="Email" id="email" class="form-control" required placeholder="E-posta adresinizi girin" />
		</div>
		<button type="submit" class="btn btn-primary">Şifre Sıfırlama Linki Gönder</button>
	</form>
</div>
