<div claas="list-group">
    <div class="list-group mb-1" data-toggle="collapse" data-target="#Bilgilerim" role="button">
        <div class="btn btn-dark rounded p-3 ">Bilgilerim</div>
        <div class="collapse navbar-collapse" id="Bilgilerim">
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">......</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">......</a>
        </div>
    </div>

    <div class="list-group mb-1" data-toggle="collapse" data-target="#Siparislerim" role="button">
        <div class="btn btn-dark rounded p-3">Kullanıcı İşlemleri</div>
        <div class="collapse navbar-collapse" id="Siparislerim">
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">.....</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">.....</a>
        </div>
    </div>
</div>