<div claas="list-group">
    <div class="list-group mb-1" data-toggle="collapse" data-target="#icerikIslemleri" role="button">
        <div class="btn btn-dark rounded p-3 ">İçerik İşlemleri</div>
        <div class="collapse navbar-collapse" id="icerikIslemleri">
            <a href="/admin/addCategory" class="list-group-item list-group-item-action list-group-item-dark">Kategori Ekle</a>
            <a href="/admin/editCategory" class="list-group-item list-group-item-action list-group-item-dark">Kategori Düzenle</a>
        </div>
    </div>

    <div class="list-group mb-1" data-toggle="collapse" data-target="#Raporlama" role="button">
        <div class="btn btn-dark rounded p-3">Raporlama</div>
        <div class="collapse navbar-collapse" id="Raporlama">
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Satışları Gör</a>
        </div>
    </div>
</div>