<div claas="list-group">
    <div class="list-group mb-1" data-toggle="collapse" data-target="#menu" role="button">
        <div class="btn btn-dark rounded p-3 ">Müşteri Menü</div>
        <div class="collapse navbar-collapse" id="menu">
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Siparişlerim</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Sepetim</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Bilgilerim</a>
        </div>
    </div>

</div>

