
<div class="input-group mb-3">
    <input type="text" class="form-control bg-light" id="search" name="searchQuery" placeholder="Ürün Ara..." />
    <div class="input-group-append">
        <button class="btn btn-info" type="submit">Ara  <i class="fa-solid fa-magnifying-glass"></i> </button>
    </div>
</div>




@section Scripts {
    <script>


    </script>

}