<div class="list-group">
		<div class="list-group mb-1" data-toggle="collapse" data-target="#selleMenu" role="button">
			<div class="btn btn-dark rounded p-3 ">Satıcı Menü</div>
			<div class="collapse navbar-collapse" id="selleMenu">
				<a href="/seller/AddProduct" class="list-group-item list-group-item-action list-group-item-dark">Ürün Ekle</a>
				<a href="/seller/EditProduct" class="list-group-item list-group-item-action list-group-item-dark">Ürün Düzenle</a>
				<a href="/seller/ShowSoldProducts" class="list-group-item list-group-item-action list-group-item-dark">Satışlarım</a>
			</div>
		</div>
	</div>


