@model List<ShowOrdersViewModel>

<h2 class="text-center">Siparişlerim <i class="fa-solid fa-cart-shopping"></i></h2>
<br />

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col" style="width: 15%">Sipariş No</th>
            <th scope="col" style="width: 50%">Sipariş Zamanı</th>
            <th scope="col" style="width: 35%">Sipariş Tutarı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr class="clickable-row" data-order-id="@order.Id" style="cursor: pointer;">
                <td>@order.Id</td>
                <td>@order.OrderTime.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@order.TotalPrice.ToString("0.00") ₺</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.clickable-row').click(function () {
                var orderId = $(this).data('order-id');

                var url = "/customer/ShowOrderDetail/" + orderId;

                window.location.href = url;
            });
        });
    </script>


}
